# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
env.bak/
*.egg-info/
dist/
build/

# FastAPI specific
*.log
*.sqlite3
*.db
instance/

# Environment Variables
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml
*.pid

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.dylib

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
.pylint.d/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Linux
*~
\#*\#
.snap

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
test/

# Distribution / packaging
.Python
pip-wheel-metadata/
